.popup__save-button {
  border: 0;
  outline: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  background-color: #000000;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 48px;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 710px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
    min-height: 46px;
  }
}
