.elements__like-button {
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 22px;
  height: 19px;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  cursor: pointer;
  background-image: url(../../../images/like-button.svg);
  background-size: cover;
  /*position: absolute;
  right: 20px;
  bottom: 30px;*/
}

.elements__like-button:hover {
  opacity: 0.5;
}
